teamtrackweb/public/gh_2.76.1_macOS_arm64/** linguist-vendored
*.1 linguist-documentation
*.man linguist-documentation
*.roff linguist-documentation
# Ignore TypeScript declaration files and configs
*.d.ts linguist-generated
*.ts linguist-generated
*.tsx linguist-generated
tsconfig.json linguist-generated
